<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
<div class = "site-heading explore">
  <span><%= link_to 'Explore your riding style',style_path,{:class => 'explore_link_to'}%></span>
</div>
<header class=" masthead masthead2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
<div class = "site-heading explore">
  <span><%= link_to 'Find our your Preference',type_path,{:class => 'explore_link_to'}%></span>
</div>
