.image {
  width: 65%
}
.division_underline{
  border-width: 4px;
  border-bottom-style: double;
  font-size: 20px;
  margin-bottom: 15px;
}
.paragraph_header{
  font-weight: bold;
}
.title_header{
  margin-bottom: 10px;
}
